<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

  <title>University Employee Management System</title>
  <style>
    body{
      background-image: url(https://images.pexels.com/photos/3861969/pexels-photo-3861969.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
    
  </style>
  <body>
    <div class = "container mt-3 text-center">
  <h1 class="text-light bg-dark"><b><i class="bi bi-house-check-fill"></i> University Employee Management System</b></h1>
  <hr>
  <a href="/view_all_emp"  class="btn btn-success" role="button"><i class="bi bi-arrow-down-circle-fill p-2"></i>View All Employees</a>
  <a href="/add_emp" class="btn btn-danger" role="button"><i class="bi bi-arrow-return-left p-2"></i>Add an Employee</a>
  <a href="/remove_emp" class="btn btn-primary" role="button"><i class="bi bi-arrow-down-up p-2"></i>Remove Employee</a>
  <a href="/filter_emp" class="btn btn-warning" role="button"><i class="bi bi-arrow-left-circle-fill p-2"></i>Filter Employee Information</a>
</div><br>

<div class = "container mt-3 text-center ">
  <h1 class="text-dark bg-info"><i class="bi bi-book-fill"></i>  Employee Books Detail</h1>
 
  <a href="/books"  class="btn btn-secondary" role="button">Employee Books</a>
  
</div><br>
  
<div class = "container mt-3 text-center ">
  <h1 class="text-white bg-success"><i class="bi bi-person-vcard"></i> Meeting Details</h1>
 
  <a href="/meeting"  class="btn btn-danger" role="button"></i>Meeting</a>
  
</div><br>


<div class = "container mt-3 text-center ">
  <h1 class="text-white bg-danger"><i class="bi bi-currency-dollar"></i> Employee Expense</h1>
 
  <a href="/expenses"  class="btn btn-info" role="button">Expenses</a>
  
</div><br>


<div class = "container mt-3 text-center ">
  <h1 class="text-white bg-warning"><i class="bi bi-person-vcard"></i>  Employee Feedback Details</h1>
 
  <a href="/feedback"  class="btn btn-primary" role="button">Feedback</a>
  
</div><br>


<div class = "container mt-3 text-center ">
  <h1 class="text-white bg-primary"><i class="bi bi-wallet2"></i>Employee Payroll Details</h1>
 
  <a href="/payroll"  class="btn btn-danger" role="button">Payroll</a>
  
</div><br>

<div class = "container mt-3 text-center ">
  <h1 class="text-white bg-info"><i class="bi bi-person-bounding-box"></i>Employee Training</h1>
 
  <a href="/training"  class="btn btn-warning" role="button">Training</a>

</div><br>


<div class = "container mt-3 text-center ">
  <h1 class="text-white bg-dark"><i class="bi bi-house-check-fill"></i>Employee Task Details</h1>
 
  <a href="/task"  class="btn btn-secondary" role="button">Assign Task</a>
  
</div><br>

<div class = "container mt-3 text-center ">
  <h1 class="text-white bg-danger"><i class="bi bi-file-image"></i>Employee Image Details</h1>
 
  <a href="/images"  class="btn btn-primary" role="button">Employee Images</a>
  
</div><br>


<div class = "container mt-3 text-center ">
  <h1 class="text-white bg-secondary"><i class="bi bi-pin-map"></i>University Location</h1>
 
  <a href="/location"  class="btn btn-warning" role="button">Location</a>
  
</div><br>


<div class = "container mt-3 text-center ">
  <h1 class="text-white bg-info"><i class="bi bi-person-up"></i>Employees Attendance</h1>
 
  <a href="/attendance_form"  class="btn btn-danger" role="button">Mark Attendance</a>
  
</div>

      <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>

</html>